html{
    box-sizing: border-box;
    font-size: 10px;
    line-height: 20px;
}

html *{
    box-sizing: inherit;
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    font-family: sans-serif;
    font-size: 3rem;
    line-height: 5rem;
}

p{
    margin: 0;
}

ul,
ol{
    margin: 0;
}

h1,
h2,
h3{
    line-height: 1em;
}

pre{
    background-color: #393939;
    padding: 1rem;
    text-align: left;
}

code{
    background-color: #393939;
    color: #CFCFCF;
}

blockquote{
    background-color: #CFCFCF;
    display: inline-block;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

blockquote:before,
blockquote:after{
    content: "\"";
    color: rgba( 150, 150, 150, 0.50 );
}

blockquote:before{
    content: ">\"";
}

.strike{
    color: #CCCCCC;
    text-decoration: line-through;
}

.strike code{
    background-color: #CECECE;
    color: #393939;
}

#slides{
    height: 100%;
}

#slides:before,
#slides:after{
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    width: 15px;
    z-index: 1;
}

#slides:before{
    box-shadow: inset 15px 0 15px -15px #000000;
    left: 0;
}

#slides:after{
    box-shadow: inset -15px 0 15px -15px #666666;
    right: 0;
}

#slides section{
    background-color: #EEEEEE;
    display: grid;
    grid-template-rows: 0 14rem 1fr;
    height: 100%;
    padding: 10%;
    padding-top: 2rem;
    position: relative;
    width: 100%;
    z-index: 0;
}

#slides section .design{
    background-color: transparent;
    height: 0;
    pointer-events: none;
    position: relative;
    width: 0;
    z-index: -1;
}

#slides section.title{
    padding: 10%;
}

#slides section.title .body{
    text-align: center;
}

#slides section.title .title h2{
    margin-top: 1.5rem;
}

#slides section .title h1,
#slides section .title h2{
    margin: 0;
}


#slides section:not( .title ) .title h2{
    font-size: 2.25rem;
    line-height: 7rem;
    margin-left: 4rem;
}

#slides section.title h2{
    font-size: 1.3em;
}

#slides section:not(.active){
    display: none;
}

#slides section:not(.title) .title{
    line-height: 3rem;
    vertical-align: middle;
    padding: 2.25rem 0;
    text-align: left;
}

#slides section:not( .title ) .title h1{
    font-size: 4rem;
}

#slides section .body{
    border-top: 1px solid #BFBFBF;
    font-size: 2.5rem;
    line-height: 5.5rem;
    text-align: left;
}

body.guided #slides section .body{
    text-align: center;
}

#slides section .body iframe{
    border: 0;
    height: 50rem;
    margin: 0;
    padding: 0;
    width: 100%;
}
