:host{
	--color-timeline: hsla( 120, 50%, 30%, 1 );
	font-size: 0.8em;
	position: relative;
}

:host > div:first-of-type{
	background-color: var( --color-timeline );
	width: 100%;
	height: 0.5em;
}

.blocker{
	background-color: hsla( 0, 100%, 100%, 1 );
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.point{
	display: none;
	position: absolute;
}

.point .dot{
	background-color: var( --color-timeline );
	border-radius: 50%;
	height: 1em;
	position: absolute;
	top: -0.75em;
	left: -0.5em;
	width: 1em;
}

.point span{
	display: inline-block;
}

.dark-ages{
	left: 3%;
}

.javascript{
	left: 22%;
}
.javascript span{
	transform:
		translate( calc( -100% + 2.75em ), 2.75em )
		rotate( 315deg )
		rotateX( 180deg )
		rotateY( 180deg )
		rotateZ( 180deg );
}

.jquery{
	left: 51.5%;
}
.jquery span{
	transform:
		translate( calc( -100% + 3.25em ), 4.25em )
		rotate( 315deg )
		rotateX( 180deg )
		rotateY( 180deg )
		rotateZ( 180deg );
}

.frameworks{
	left: 61.5%;
}
.frameworks span{
	transform:
		translate( calc( -100% + 2.75em ), 3em )
		rotate( 315deg )
		rotateX( 180deg )
		rotateY( 180deg )
		rotateZ( 180deg );
}

.components{
	left: 66.5%;
}
.components span{
	transform:
		translate( calc( -100% + 2.8em ), 3em )
		rotate( 315deg )
		rotateX( 180deg )
		rotateY( 180deg )
		rotateZ( 180deg );
}

.future{
	right: 1%;
}