@import url('https://fonts.googleapis.com/css?family=Raleway');

:root{
	--color-bright: rgba( 220, 220, 220, 1 );
	--color-border: rgba( 190, 190, 190, 1 );
	--color-code: rgba( 65, 65, 65, 1 );

	--size-base: 10px;
	--size-default-border-radius: 5px;
	--size-default-padding: 1rem;
	--size-large-padding: 2rem;
}

html{
	box-sizing: border-box;
	font-family: "Raleway", Helvetica, Arial, sans-serif;
	font-size: var( --size-base );
	line-height: calc( 2 * var( --size-base ) );
}

html *{
	box-sizing: inherit;
}

body{
	font-size: 5rem;
	line-height: 6rem;
	margin: 0;
	padding: 0;
	text-align: left;
}

input{
	background-color: red;
	border: 1px solid blue;
	padding: 1rem;
}

.view{
	height: 100vh;
	width: 100vw;
}

