:host{
	bottom: 0;
	display: block;
	font-size: 0.6em;
	height: 5rem;
	position: absolute;
	width: 100vw;
	z-index: 1;
}

a{
	color: hsla( 180, 0%, 45%, 1 );
	text-decoration-style: dotted;
}

footer{
	height: 100%;
	width: 100%;
}

.left,
.right{
	position: absolute;
	bottom: 20px;
}

.left{
	left: 10px;
}

.right{
	right: 10px;
}