div h2{
	line-height: 1em;
	margin: 0;
	padding: 2rem;
	text-align: center;
}

div h2 div{
	display: inline-block;
}

img{
	display: inline-block;
	height: 1em;
	justify-self: end;
	vertical-align: bottom;
	width: 1em;
}

span{
	text-align: left;
	justify-self: start;
}