.slide{
	box-sizing: border-box;
	height: 100vh;
	width: 100vw;
	padding: 2rem 6rem;
	text-align: center;
}

.slide *{
	box-sizing: inherit;
}

.slide a{
	color: blue;
}

.slide h1{
	margin: 1rem;
	padding: 0;
	line-height: 1.25em;
	text-align: center;
}

.slide button{
	font-size: 3rem;
}

.slide pre{
	background-color: var( --color-code );
	border-radius: var( --size-default-border-radius );
	display: inline-block;
	margin: 0;
	text-align: left;
}

.slide code{
	color: var( --color-bright );
	font-kerning: none;
	padding: var( --size-default-padding );
}

.slide p{
	margin: 3rem 0 1.75rem;
}

.slide > ol,
.slide > ul{
	display: inline-block;
}

.slide > ol li,
.slide > ul li{
	text-align: left;
}

.slide img{
	display: block;
	margin: auto;
	max-width: calc( 100vw - 6rem );
}