:host{
	display: block;
	height: 5rem;
	position: absolute;
	width: 100vw;
	z-index: 1;
}

.left,
.right{
	color: hsla( 180, 0%, 90%, 1 );
	cursor: pointer;
	position: absolute;
	top: 20px;
}

.left{
	left: 10px;
}

.right{
	right: 10px;
}